.mainContainer{
    position: absolute;
    top: 150px;
    left: 458px;
    width: 42.8vw;
    height: 30vw;
}

.container{
    position: absolute;
    top: 11px;
    left: -78px;
    width: 54vw;
    height: 24vw;
    border: 2px solid black;
}

.container2{
    position: absolute;
    top: -5.15vw;
    left: 3vw;
    width: 37vw;
    height: 6vw;
    border: 2px solid black;
}

.container3{
    position: absolute;
    top: 24.6vw;
    left: 3vw;
    width: 37vw;
    height: 6vw;
    border: 2px solid black;
}

h1, h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #234263;
}

h5{
    margin: 10px 0 50px 0;
}

#first{
    margin: 80px 0 10px 0;
    padding: 0;
}

#second{
    margin: 0;
    padding: 0;
}

.myContainer{
    text-align: center;
}
